absl-py==2.1.0
aiohttp==3.8.6
aiosignal==1.3.1
alabaster==0.7.12
albumentations==0.5.2
altair==5.0.1
antlr4-python3-runtime==4.8
appnope==0.1.4
astunparse==1.6.3
async-timeout==4.0.3
asynctest==0.13.0
attrs==24.2.0
Babel==2.8.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.7.1
black==23.3.0
blinker==1.6.3
braceexpand==0.1.7
bs4==0.0.1
cachetools==5.5.0
certifi==2018.11.29
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
comm==0.1.4
cx-Freeze==5.1.1
cycler==0.10.0
dash==2.15.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==4.4.2
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@ebe8b45437f86395352ab13402ba45b75b4d1ddb
docutils==0.16
easydict==1.9
exceptiongroup==1.2.2
fire==0.6.0
Flask==2.2.5
flatbuffers==24.3.25
frozenlist==1.3.3
fsspec==2023.1.0
future==1.0.0
fvcore==0.1.5.post20221221
gast==0.4.0
get==2018.11.19
gitdb==4.0.12
GitPython==3.1.50
google-api-core==2.19.2
google-auth==2.34.0
google-auth-oauthlib==0.4.6
google-cloud-vision==3.7.4
google-pasta==0.2.0
googleapis-common-protos==1.65.0
goto-statement==1.2
grpcio==1.62.3
grpcio-status==1.47.0
h5py==3.8.0
hydra-core==1.1.0
idna==2.8
imageio==2.31.2
imageio-ffmpeg==0.5.1
imagesize==1.2.0
imgaug==0.4.0
importlib-metadata==6.7.0
importlib-resources==5.12.0
iniconfig==2.0.0
iopath==0.1.9
ipython==7.34.0
ipywidgets==8.1.5
itsdangerous==2.1.2
jedi==0.19.2
Jinja2==3.1.4
joblib==1.3.2
jsonschema==4.17.3
jupyterlab_widgets==3.0.13
keras==2.11.0
kiwisolver==1.2.0
kornia==0.5.0
libclang==18.1.1
llvmlite==0.35.0
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.3.0
matplotlib-inline==0.1.6
mdurl==0.1.2
moviepy==1.0.3
multidict==6.0.5
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==2.6.3
numba==0.52.0
numpy==1.21.6
numpy-quaternion==2020.11.2.17.0.49
oauthlib==3.2.2
omegaconf==2.1.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
packaging==23.2
pandas==1.3.5
parso==0.8.4
pathspec==0.11.2
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
platformdirs==4.0.0
plotly==5.18.0
pluggy==1.2.0
portalocker==2.7.0
post==2018.11.20
proglog==0.1.10
prompt_toolkit==3.0.48
proto-plus==1.24.0
protobuf==3.20.3
ptyprocess==0.7.0
public==2018.11.20
pyarrow==12.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.7
pydeck==0.8.1b1
pydub==0.25.1
pyftdi==0.51.2
Pygments==2.17.2
Pympler==1.1
pyparsing==2.4.7
pyrsistent==0.19.3
pyserial==3.4
pytesseract==0.3.10
pytest==7.4.4
python-dateutil==2.8.1
pytorch-lightning==1.2.9
pytz==2020.1
pytz-deprecation-shim==0.1.0.post0
pyusb==1.0.2
PyWavelets==1.3.0
PyYAML==6.0.1
query-string==2018.11.20
request==2018.11.20
requests==2.31.0
requests-oauthlib==2.0.0
retrying==1.3.4
rich==13.8.1
rsa==4.9
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.2
shapely==2.0.6
simple-lama-inpainting==0.1.0
six==1.15.0
smmap==5.0.3
snowballstemmer==2.0.0
soupsieve==1.8
SpeechRecognition==3.9.0
Sphinx==3.1.2
sphinx-autodoc-typehints==1.11.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
streamlit==1.23.1
sync-batchnorm==0.0.1
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
threadpoolctl==3.1.0
tifffile==2021.11.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==1.13.1
torchaudio==0.13.1
torchmetrics==0.2.0
torchvision==0.14.1
tornado==6.2
tqdm==4.66.5
traitlets==5.9.0
typed-ast==1.5.5
typing_extensions==4.7.1
tzdata==2026.2
tzlocal==4.3.1
urllib3==1.24.1
validators==0.20.0
wcwidth==0.2.13
webdataset==0.2.100
Werkzeug==2.2.3
widgetsnbextension==4.0.13
wldhx.yadisk-direct==0.0.6
wrapt==1.16.0
yacs==0.1.8
yarl==1.9.4
zipp==3.15.0
